/* 
.cursor-dot{
    width: 5px;
    height: 5px;
    background-color: yellow;
}

.cursor-outline{
    width: 20px;
    height: 20px;
    border: 2px solid olivedrab;
}

.cursor-dot, .cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
} */

* {
  margin: 0;
  scroll-behavior:smooth;
  scroll-padding-top: 80px;
}
/* @media  screen and (max-width:1420px) {
  body{
visibility: hidden;
  }

  .temp-message{
    visibility: visible !important;
    display: block;
    font-size: 100px;
  }
  
} */
 /* .temp-message{
  display: block;
 }


@media (max-width:1080px) {
 body:not(.temp-message){
   visibility: hidden;
  }
.temp-message{
   display:block !important;
    font-size: 100px;
    color: black;
    height: 500px;
    width: 500px;
    background-color: red;
  }

  main .navbar{
  background-color: red;
  }
} */

.main-section {
  /* background: url(./images/background.png); */
  /* background-repeat: no-repeat; */

  margin: auto;
  background: linear-gradient(
    315deg,
    rgb(72, 10, 68) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgba(48, 238, 226, 1) 68%,
    rgba(255, 25, 25, 1) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  height: 900px;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

main .navbar {
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  height: 87px;
  gap: 120px;
  background-color: rgb(255, 255, 255, 0.2);
  z-index: 99;
  background-color: rgb(0, 0, 0, 0.2);
}

@media screen and (max-width:767px){

  *{
    width: 100vw;
  }
  main .navbar{
    display: flex;
    justify-content:start;
    width: 100vw;
    height: 40px;
    background: coral;
  }
  
}
/* 
.navbar {
    width: 80%;
    transition: width 0.3s ease-in-out;
  }
  
  .navbar.widened {
    width: 90%;
  } */

.navbar .logo {
  padding: 10px;
}

.navbar .menu-and-button {
  display: flex;
  justify-content: space-around;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 45px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin-top: 30px;
  margin-right: 250px;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar li a::after {
  content: "";
  width: 0px;
  height: 2px;
  background-color: cadetblue;
  display: block;
  margin-top: 7px;
}
.navbar li a:hover::after {
  width: 100%;
  transition: 0.3s ease-in-out;
}

.navbar li a:hover {
  color: black;
}

.hire-me-button {
  font-family: "DM Sans", sans-serif;
  color: black;
  font-weight: 700;
  margin-top: 15px;
  border: 2px solid black;
  padding: 13px 0px 10px 33px;
  height: 25px;
  width: 130px;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: 0.3s all ease-in-out;
}

.hire-me-button:hover {
  color: white;
  background-color: black;

  /* background-color: pink;
   transition: 1s all  ease-in-out; */
}
/* 
@media screen and (max-width:480px){
  *{
    width: 480px !important;
  }

  .navbar .logo img{
    display: none;
     }
  .li-home{
    display: none;
  } 
  .li-blog{
    display: none;
  }

  main .navbar{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-self: center;
  }

  .navbar ul{
    justify-content: space-around;
    list-style: none;
    gap: 0px;
    font-size: 10px;
    margin-top: 20px;
  }
.hire-me-button{
padding-right: px;
}


  .main-section {  
    margin: auto;
    background-size: 400% 400%;
    background-attachment: fixed;
    height: 900px;
  }
} */
.section2-intro {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 710px;
  /* position: absolute;
    top: 40px; */
}

.section2-intro .intro-left {
  width: 50%;
  /* margin-top: 60px;*/
    margin-right: 50px;
}

.my-name {
  display: flex;
  align-items: center;
  margin-top: 190px;
  margin-left: 240px;
  gap: 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 60px;
  color: RGB(18, 20, 29);
  font-weight: 550;
}

.my-job {
  margin-top: 5px;
  /* margin-left: 330px; */
  /* width: 600px; */
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 50px;
color: rgb(229, 213, 213);
  font-weight: 400;
  position: relative;
  animation: move 2s;
  animation-fill-mode: forwards;
}

@keyframes move {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(330px);
  }
}

.my-job::after {
  content: "";
  height: 2px;
  width: 80px;
  background-color: coral;
  position: absolute;
  top: 25px;
  left: -95px;
}

.my-job:hover::after {
  background-color: black;
}

.job-disc {
  margin-top: 5px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: black;
  width: 50%;
  margin-left: 240px;
}

.button-and-link {
  display: flex;
  /* align-items: center; */
  gap: 20px;
  margin-top: 20px;
  margin-left: 240px;
}

.button-and-link .say-hello-button {
  font-family: "DM Sans", sans-serif;
  color: white;
  background-color: coral;
  font-weight: 700;
  margin-top: 15px;
  padding: 12px 0px 10px 25px;
  height: 40px;
  width: 145px;
  justify-items: center;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  /* transition: .3s all ease-in-out; */
  transition: all 0.3s ease-in-out;
}

.say-hello-button:hover {
  background-color: black;
  transform: scale(1.05);
}

.say-hello-button i:hover {
  color: aquamarine;
}

/* 
.say-hello-button::after{
    content: "";
margin-right: 100px;
height: 60px;
width: 190px;
background-color: black;
position: absolute;
top:75px;
right: -116px;
z-index: -1;

} */

.my-works-link {
  font-family: "DM Sans", sans-serif;
  color: black;
  font-weight: 700;
  margin-top: 9px;
  padding: 20px 0px 10px 40px;
  height: 33px;
  width: 125px;
  cursor: pointer;
  border-radius: 20px;
}

.my-works-link::after {
  content: "";
  width: 0px;
  height: 2px;
  background-color: coral;
  display: block;
  margin-top: 7px;
}
.my-works-link:hover::after {
  width: 100%;
  transition: 0.2s ease-in-out;
}

.my-works-link > i {
  transition: none;
}

.my-works-link > i:hover{
  background: none;
}

.follow-me-icons {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 60px;
  margin-left: 240px;
}

.follow-me-icons a {
  text-decoration: none;
  color: black;
}

.follow-me-icons i {
  background-color: rgb(244, 240, 240);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

i {
  margin: 10px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
i:hover {
  color: aquamarine;
  transform: rotate(360deg);
  background-color: black;
}

.intro-right {
  width: 40%;
  margin-top: 200px;
}

.profilecard {
  height: 420px;
  width: 280px;
  border: px solid rgb(223, 209, 209);
  border-radius: 20px;
  margin-top: -35px;
  padding: 20px;
  font-family: "Inter", sans-serif;
  background: rgba(189, 22, 22, 0.2);
  color: rgb(234, 223, 223);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: relative;
  overflow: hidden;
}

.profilecard::after {
  content: "";
  height: 500px;
  width: 350px;
  position: absolute;
  top: -10px;
  left: 336px;
  background-color: rgb(8, 7, 7, 0.2);
  transition: 0.3s all ease-in-out;
}

.profilecard:hover::after {
  left: -10px;
}

.profile-top {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-top > h2 {
  font-size: 2rem;
}

.profile-top > p {
  font-size: 18px;
  letter-spacing: 1px;
}

.dp {
  margin-top: 5px;
  margin-left: 0px;
  border: 1px solid transparent;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
  z-index: 5;
  position: inherit;
}

.message {
  margin-top: 30px;
  font-size: 1.1rem;
  text-align: center;
}

.message > p {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 10px;
}

.chat-btn {
  font-family: "DM Sans", sans-serif;
  color: white;
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
  font-weight: 700;
  margin-top: 25px;
  margin-left: 20px;
  padding: 12px 0px 10px 95px;
  height: 40px;
  width: 165px;
  justify-items: center;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  /* transition: .3s all ease-in-out; */
  transition: all 0.3s ease-in-out;
  z-index: 5;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
}

.chat-btn:hover {
  transform: scale(1.05);
}

.chat-btn i:hover {
  color: aquamarine;
}
/* .animated:hover{
transform: rotate(360deg);
} */

.chat-btn a {
  color: #ffffff;
  text-decoration: none;
}

.chat-btn a:hover {
  color: aquamarine;
}

.animated {
  position: absolute;
  top: 500px;
  right: 130px;
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animated:hover{
  animation: none;
}

.section-About-me {
  background: rgb(222, 107, 64);
  display: flex;
  padding: 180px 0px 120px 0px;
}

.section-About-me-left {
  width: 50%;
  margin-left: 50px;
}

.years-backgroung {
  background-color: rgb(0, 0, 0);
  height: 420px;
  position: relative;
  margin-left: 280px;
  margin-right: 196px;
}
.exprience .years {
  font-size: 330px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  letter-spacing: -2px;
  position: absolute;
  margin-left: 280px;
  color: rgb(222, 107, 64);
  margin-right: 200px;
  margin-top: -555px;
}

.exprience > span {
  margin-left: 315px;
  position: absolute;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  color: rgb(222, 107, 64);
  color: white;
  font-weight: 400;
  margin-top: -110px;
}

.exprience .name {
  margin-left: 285px;
  margin-top: -32px;
  font-family: "DM Sans", sans-serif;
  line-height: 45px;
  font-size: 57px;
  letter-spacing: -3px;
  font-weight: 1000;
  color: rgb(222, 107, 64);
  background: transparent;
  display: block;
  position: absolute;
}

.section-About-me-right {
  width: 50%;
}

.aboutme {
  margin-top: 50px;
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 54px;
  color: #ffffff;
  position: relative;
}

.aboutme::after {
  content: "";
  height: 1px;
  width: 70px;
  background-color: #ffffff;
  position: absolute;
  right: 480px;
  top: 40px;
}

.aboutme-info {
  color: rgb(236, 229, 234);
  margin-top: 30px;
  font-family: "Inter", sans-serif;
  line-height: 32px;
  vertical-align: baseline;
  width: 63%;
}
.button-and-sign {
  display: flex;
}

.download-cv-button {
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  color: black;
  background-color: #ffffff;
  font-weight: 700;
  margin-top: 35px;
  padding: 12px 0px 10px 40px;
  height: 40px;
  width: 165px;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.download-cv-button:hover {
  background-color: black;
  color: whitesmoke;
  transform: scale(1.05);
}

.downlodable{
  text-decoration: none;
  color: inherit;
}

.signature img {
  vertical-align: baseline;
}

.section-my-expert-areas {
  display: flex;
  justify-content: space-between;
}

.my-expert-areas-left {
  width: 50%;
  padding-left: 220px;
  margin-top: 90px;
  justify-content: end;
}

.my-expert-areas-left > h2 {
  font-size: 45px;
  line-height: 54px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  width: 50%;
  margin-left: 50px;
  position: relative;
}

h2::after {
  content: "";
  height: 1.5px;
  width: 80px;
  background-color: black;
  position: absolute;
  left: 112px;
  top: 95px;
}

.my-expert-areas-left > .p1,
.p2 {
  color: rgb(122, 123, 128);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 28px;
  vertical-align: baseline;
  font-weight: 400;
  margin-top: 30px;
  width: 75%;
  margin-left: 50px;
}

.myresume-button {
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  color: whitesmoke;
  background-color: coral;
  font-weight: 700;
  margin-top: 35px;
  margin-left: 50px;
  padding: 12px 0px 10px 40px;
  height: 40px;
  width: 165px;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.myresume-button:hover {
  background-color: black;
  color: whitesmoke;
  transform: scale(1.05);
}

.my-expert-areas-right {
  width: 50%;
  justify-content: start;
}

.skills-button {
  display: flex;
  align-items: center;
}

.skil-exp-edu-buttons {
  display: flex;
  justify-content: start;
  gap: 120px;
  margin-right: 600px;
  margin-top: 100px;
  font-size: 17px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 28px;
  position: relative;
}

/* .skil-exp-edu-buttons::after{
  content: "";
  height: 70px;
  width: 150px;
  position: absolute;
  left: -50px;
  top: -10px;
  border: 2px solid black;
  border-radius: 20px;
  transition: width.3s all ease-in-out;
  cursor: pointer;

} */

.move-option1:hover::after {
  content: "";
  height: 70px;
  width: 150px;
  position: absolute;
  left: -50px;
  top: -10px;
  border: 2px solid black;
  border-radius: 20px;
  transition: width.3s all ease-in-out;
  cursor: pointer;
}
.move-option2:hover::after {
  content: "";
  height: 70px;
  width: 180px;
  position: absolute;
  left: 175px;
  border: 2px solid black;
  border-radius: 20px;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}

.move-option3:hover::after {
  content: "";
  height: 70px;
  width: 180px;
  position: absolute;
  left: 440px;
  border: 2px solid black;
  border-radius: 20px;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}

.skill-n-work1 {
  display: flex;
  justify-content: start;
  gap: 150px;
  margin-top: 50px;
  color: black;
  font-size: 17px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 28px;
  width: 90%;
}

.skill-n-work2 {
  margin-top: 60px;
  display: flex;
  justify-content: start;
  gap: 170px;
  width: 90%;
  font-size: 17px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 28px;
}

.percent {
  font-size: 17px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 28px;
}

.skil-exp-edu-buttons .skills-icon {
  background: none;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: none;
}

.skills-icon:hover {
  color: black;
}

.skill-n-work1 .work-icon {
  background: coral;
  color: white;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: none;
}

.skill-n-work2 .work-icon {
  background: coral;
  color: white;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: none;
}

.section-counter-js {
  margin-top: 170px;
  display: flex;
  justify-content: space-evenly;
  height: 400px;
}

.counter-disc {
  height: 100px;
  width: 100px;
  border: 5px solid coral;
  border-radius: 50%;
  background: rgb(224, 224, 5);
}

.number {
  color: black;
  font-size: 80px;
  font-family: "Kaushan Script", cursive;
  border-radius: 50px;
}

.number-name {
  display: inline-block;
  margin-left: 20px;
  font-family: "DM Sans", sans-serif;
  text-transform: capitalize;
  font-size: 20px;
}

.section-services-i-provide {
  height: 730px;
 
}

.services-list {
  width: 85%;
  margin-top: 100px;
  align-content: center;
  padding-left: 120px;

}
.section-name {
  font-size: 45px;
  font-family: "DM Sans", sans-serif;
  line-height: 54px;
  font-weight: 700;
  margin-left: 50px;
  position: relative;
  padding-left: 100px;
}

.section-name::after {
  content: "";
  height: 1px;
  width: 80px;
  position: absolute;
  bottom: 12px;
  left: 272px;
  background-color: black;
}

.services {
  height: 70px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.service-num {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  line-height: 28px;
  font-weight: 400;
  color: coral;
  width: 1%;
}

.service-name {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  line-height: 28px;
  font-weight: 400;
  margin-right: 150px;
  width: 45%;
}
.service-disc {
  display: flex;
  justify-content: center;
  gap: 60px;
  /* margin-top: -20px; */
  margin-right: 50px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: rgb(101, 101, 101);
  align-content: baseline;
}

.icon-link i {
  transition: none;
  background: none;
  color: coral;
}
.services-list li {
  height: 100px;
  width: 1200px;
  border-top: 1px solid black;
}

.service-4 {
  border-bottom: 1px solid black;
}
.services-list li:hover {
  transform: scale(1.1);
  background-color: black;
  transition: 0.5s all ease-in-out;
  color: #ffffff;
}

.section-look-at-my-recent-projects {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(
    to bottom right,
    #ff4500,
    #ff6347,
    #ff7f50,
    #ffa07a
  );
}

.section-heading {
  font-family: "DM Sans", sans-serif;
  font-size: 55px;
  color: #ffffff;
  line-height: 54px;
  font-weight: 700;
  padding-top: 50px;
  padding-left: 250px;
  position: relative;
}

.section-heading::after {
  content: "";
  height: 1px;
  width: 80px;
  background-color: white;
  position: absolute;
  bottom: 3px;
}
.sliding-content {
  height: 500px;
  margin-top: 100px;
}
.slider-container {
  position: relative;
  width: 100%;
  height: 400px; /* Adjust the height of the slider */
  overflow: hidden;
  width: 70%;
  margin-left: 250px;
}

.slider {
  display: flex;
  transition: transform 0.9s ease-in-out;
  gap: 150px;
  width: 1200px;
  height: 450px;
}

.slide {
  flex: 0 0 33.333%; /* Set each slide to one-third of the container width */
  box-sizing: border-box;
}

.slide > p {
  margin-top: 40px;
}
.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid transparent;
  border-radius: 20px;
}
.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.control-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 48px;
  color: coral;
  background-color: black;
  border: 1px solid transparent;
  border-radius: 50%;
}

.section-testimonial {
  height: 1200px;
  background: linear-gradient(to bottom, #FFFFFF, #F0F0F0);
}
.testimonial-heading {
  margin-top: 0px;
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  padding-top: 100px;
  padding-left: 250px;
  position: relative;
}

.testimonial-heading::after {
  content: "";
  height: 1px;
  width: 80px;
  background-color: black;
  position: absolute;
  bottom: 10px;
  left: 570px;
}

.client-row1,
.client-row2 {
  display: flex;
  justify-content: space-around;

}
.client-row1 {
  padding: 50px 0 0 200px;
}
.client-row2 {
  padding: 70px 0 0 350px;
}

.client-img img {
  height: 250px;
}


.client-img img:hover {
  transform: scale(1.1);
  transition: 0.5s all ease-in-out;
  color: #ffffff;
}


.feedback{
  font-family: "Inter", sans-serif;
  width: 65%;
  font-size: 19px;
 color: black;
}

.client-name{
padding: 15px 0 0 50px;
font-size: 18px;
font-family: "Inter", sans-serif;
font-weight: 500;
}

.client-name i{
  transition: none;
  background-color: white;
}
.client-name i:hover{
  color: black;
}

.company-nm{
  display: block;
  padding: 5px 0 0 85px;
  font-family: "Inter", sans-serif;
  color: rgb(182, 101, 101);
}

.section-my-blog-post{
  height: 100px;
  font-family: "Inter", sans-serif;
  
}

.heading-blog-post{
  margin-top: 0px;
  font-family: "DM Sans", sans-serif;
  font-size: 50px;
  line-height: 54px;
  font-weight: 700;
  padding-top: 100px;
  padding-left: 250px;
  position: relative;
}

.heading-blog-post::after {
  content: "";
  height: 1px;
  width: 80px;
  background-color: black;
  position: absolute;
  bottom: 10px;
  left: 473px;
}

.my-blog-post-top , .my-blog-post-bottom{
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.blog-box{
  display: flex;
  justify-content: space-around;
  border: 1px solid none;
border-radius: 10px;
  height: 280px;
  width: 550px;
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(255,255,255,1) 0%, rgba(252,176,69,1) 100%);
 
}

.name-date{
font-size:16px ;
padding: 20px;
}

.blog-topic{
font-size: 20px;
width: 100%;
padding: 30px;
}

.blog-img img{
  padding: 22px;
  border: 1px solid transparent;
border-radius: 35px;

}

.blog-img img:hover {
  transform: scale(1.1);
  transition: 0.5s all ease-in-out;
  color: #ffffff;
}

.section-my-blog-post span{ 
color: red;
}

.sliding-logos{
  height: 400px;
  padding: 110px;
  width: 70%;
  padding-left: 190px;
}
.blog-read-more{
  padding: 30px;
  margin-top: 30px;
}

.slider-2{
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.sliding-track{
  animation: scroll 20s linear infinite;
  display: flex;
  width: calc(250px *14);
}

.slide-logo{
  height: 100px;
  width: 250px;
}

@keyframes scroll {

  0%{
    transform: translateX(0);

  }
  
  100%{
    transform: translateX(calc(-250px *7));
  }
}

.section-contact{
  height: 600px;
margin-top: 1100px;
color: #F0F0F0;
background: linear-gradient(109.6deg, rgb(6, 2, 2) 32.4%, rgb(137, 30, 47) 98.8%);
}

.info-box{
  display: flex;
  justify-content: space-around;
}

.logo-rotate
  {
    position: absolute;
left: 150px;
top: 6780px;
    animation: rotate 8s linear infinite;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .logo-rotate:hover{
    animation: none;
  }
  .work-together{
    padding: 120px 0 0 470px;
  }
  
  .lets-work{
    font-size: 55px;
    line-height: 54px;
    font-weight: 700;
    color: white;
    font-family: "DM Sans", sans-serif;
  }

  .work-speech{
    font-family: "Inter", sans-serif;
    margin-top: 20px;
    width: 53%;
    font-size: 18px;
    color: rgb(176, 171, 171);
    line-height: 30px;
  }



  .work-button {
    font-family: "DM Sans", sans-serif;
    color: rgb(247, 222, 222);
    background: linear-gradient(90.3deg, rgb(255, 255, 255) 3%, rgb(235, 158, 98) 34.6%, rgb(177, 10, 10) 63.7%, rgb(0, 0, 0) 102%);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    font-weight: 700;
    margin-top: 105px;
    margin-right: 100px;
    padding: 12px 0px 10px 55px;
    height: 40px;
    width: 175px;
    justify-items: center;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    /* transition: .3s all ease-in-out; */
    transition: all 0.3s ease-in-out;
   
  }

  .work-button a{
    text-decoration: none;
    color: rgb(247, 222, 222); ;
  }

  .work-button i{
    background: none;
  }
  
  .work-button:hover {
    background-color: black;
    transform: scale(1.05);
  }
  
  .work-button i:hover {
    color: aquamarine;
  }

  .contact-details{
    display: flex;
    justify-content: space-between;
    gap: 200px;
    margin-top: 100px;
    font-family: "Inter", sans-serif;
  }

  .call-us{
    margin-left: 200px;
    font-size: 40px;
    
  }

  .call-us span{
    font-size: 20px;
    margin-left: 20px;
    color: rgb(176, 171, 171);
  }
.email-us span{
  font-size: 20px;
  margin-left: 20px;
  color: rgb(176, 171, 171);
}

.email-us {
  margin-top: 20px;
}
.contact-info{
  margin-top: 20px;
  font-size: 30px;
  }
.saying-gd-bye{
  margin-top: -100px;
  width: 20%;
  margin-right: 150px;
  align-content: center;
}
.hi{
  font-size: 55px;
color: rgb(209, 166, 166);
}

.bye{
  font-family: "Inter", sans-serif;

  color: rgb(176, 171, 171);
}

.last-section{
  display: flex;
  justify-content: space-around;
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
}

.last-logo img{
  height: 70px;
  width: 200px;
  margin-left: -80px;
  margin-top: 10px;
}

.copyright{
  margin-top: 40px;
  font-family: "Inter", sans-serif;
  color: black ;
  font-weight: 400;
  font-size:18px;
}

.top-nav-button{
  font-size: 40px;
  position: fixed;
  bottom: 50px;
  right: 10px;
background: black;
border-radius: 40px;

}

.top-nav-button i{
  color: black;
  transition: none;
  background: none;
}

.top-nav-button {
  background: linear-gradient(135deg, #ffccff, #cc99ff, #66ccff, #ff9999);
  background-size: 400% 400%;
  animation: pastelDreamsAnimation 5s ease infinite;
  color: #333; /* Set text color for better visibility */
}

@keyframes pastelDreamsAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



@media  (max-width:767px){
  .navbar .logo{
    display: none;
  }
  .li-home{
    display: none;
  }
  .li-blog{
    display: none;
  }
  .navbar ul {
    font-size: 10px;
    margin-top: 15px;
    width: 50vw;
    margin-left:0px;
   
  }
  .navbar .menu-and-button{
    display: flex;
    justify-content: space-around;
    width: 100vw;
  }
  .hire-me-button{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px 5px 15px 10px;
    margin-top: 5px;
    margin-left: -250px;
    height: 3px;
    width: 65px;
   font-size: 10px;
  } 

  .section2-intro{
    width: 100vw;
  display: block;
  margin-top: 140px;
  }

  .section2-intro .intro-left {
    width: 100vw;
  }

  .my-name{
    display: flex;
    align-items: center;
    margin-top: -100px;
    margin-left: 50px;
    gap: 20px;
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    color: RGB(18, 20, 29);
    font-weight: 550;
  }

  .namaskar{
    height: 20px;
    width: 20px;
  }

  .my-job{
margin-left: 80px;
 animation: none;
  }

  .job-disc{
    margin-left: 50px;
    font-size: 16px;
  }

  .button-and-link {
    margin-left: 50px;
    font-size: 10px;
  }

  .say-hello-button {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100px !important;
  }
  .my-works-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .follow-me-icons{
    margin-left: 20px;
    margin-top: 20px;
  }

  .intro-right{
    width: 100vw;
    margin-top: 70px;
  }

  .profilecard{
    height: 300px;
    width: 200px;
    margin-left: 70px;
  }
  .profile-top {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .profile-top > h2 {
    font-size: 1rem;
  }
  
  .profile-top > p {
    font-size: 12px;
   margin-right: 200px;
  }
  
  .dp{
    margin-top: -10px;
   width: 150px;
  margin-left: 20px;
  }
.message {
  margin-top: 10px;
  font-size: 10px;
  text-align: center;
  margin-left: -110px;
}
  .message > p {
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
  }

  .chat-btn {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 30px;
    padding: 0px 20px 20px 45px;
  height: 20px;
  width: 55px;
  }

  .animated {
    top: 100px;
    right: 10px;
    width: 80px;
    
  }

  .animated img{
    height: 80px;
    width: 80px;
    animation: none;
  }
.section-About-me{
  display: block;
  width: 100vw;
  height: 80vh;
}

.section-About-me-left{
  margin-left: -200px;
  margin-top: -130px;
}
.years-backgroung{
  width: 260px;
}

.section-About-me-right{
  margin-left: 80px;
}

.aboutme-info{
  width: 70vw;
}

.button-and-sign{

 gap: 30px;
}

.download-cv-button{
  font-size: 10px;
  margin-top: 35px;
 height: 40px;
padding-top: 20px;
width: 150px;
}

.signature img{
  margin-top: 25px;
  height: 100px;
  width: 200px;
}

.section-my-expert-areas{
  display: block;
}

.my-expert-areas-left{
  padding: 0;
  width: 100vw;
}

.myresume-button a > i{
  display: none;
}

.my-expert-areas-right{
  width:100vw;
}

.skil-exp-edu-buttons{
  gap: 0px;
  margin-left: 20px;
}

.skill-n-work-box{
  width: 100vw;
}
.skill-n-work1{
display: flex;
justify-content:start;
gap: 0px;
line-height: normal;
padding: 0;
margin-top:10PX;
}

.skill-n-work2{
  display: flex;
  justify-content:start;
  gap: 0px;
  line-height: normal;
  padding: 0;
  margin-top:10PX;
}

.skill-git-hub, .skill-ms-skill, .skill-ms-skill, .skill-javascript{
  margin-left: -260px;
}

.section-counter-js{
  display: block;
  margin-top: 50px;
  margin-left: 150px;
  height: 700px;
}

.counter-disc{
  margin-top: 50px;
}

.section-services-i-provide{
  padding: 0;
  width: 100vh;

}

.section-name{
  padding: 0;
}

.section-name::after{
  left: 180px;
}

.services-list{
  padding: 0;
  width: 100vw;
}

.services-list li {
  width: 80vw;
}
.service-disc{
display: none;
}

.services{
padding: 0;
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 20px;
gap:150px ;
}

.section-heading{
  padding-left: 50px;
}


.slider-container{
  margin-left: 30px;
  width: 90vw;
}

.slider-controls {
  width: 100vw;
  display: none;
}

.section-testimonial{
height: 150vh;
}

.testimonial-heading{
  padding: 30px;
}

.testimonial-heading::after{
  left: 340px;
  top: 130px;
}

.client-row1{
  display: block;
  padding: 10px 0 0 50px;

}

.client-row1 i{
  display: none;
}
.client-row2{
  display: none;
}

.client-img img {
  height: 150px;
  width: 150px;
  margin-left: 70px;
}

.client2, .client3{
  margin-top: 50px;
}

.company-nm{
  padding: 5px 0 0 65px;
}

.section-my-blog-post{
  height: 100vh;
  
}
.heading-blog-post{
  padding: 30px;
}

.heading-blog-post::after {
  bottom: 50px;
  left: 275px;
}

.my-blog-post-top , .my-blog-post-bottom{
  display: block;
}

.my-blog-post-bottom{
  margin-top: -50px;
}

.box2, .box3, .box4{
  margin-top: 20px;
}

.blog-box{
  height: 120px;
  margin-left: 20px;
  width: 90vw;
}

.blog-img img{
  height: 80px;
  width: 130px;
margin-left: -180px;
  border: 1px solid transparent;
border-radius: 35px;
}

.blog-read-more{
display: none;
}

.blog-topic{
  margin-top: -40px;
  width: 250px;
}

.sliding-logos{
  padding: 30px;
  width: 80vw;
  height: 200px;
}

.slide-logo{
  height: 50px;
  width: 450px;
}

.section-contact{
position: relative;
margin-top: 20px;
height: 65vh;
width: 100vw;
}

.logo-rotate{
position: absolute;
top: 50px;
left: 10px;
height: 90px;
width: 90px;
}

.logo-rotate img{
  height: 90px;
  width: 90px;
}

.info-box{
  display: block;
}

.work-together{
  padding: 50px 0 0 110px;
}

.lets-work{
  font-size: 35px;
}

.work-button{
  margin-top: 50px;
margin-left: 100px;
justify-content: center;
padding-left: 90px;
}


.contact-details{
  width: 90vw;
  gap: 0px;
  margin-top: 30px;
  font-family: "Inter", sans-serif;
}

.call-us{
  margin-left: 30px;
  font-size: 40px;
  padding: 100px;
}
.contact-details .contact-name{
  padding: 0px;
  width: 50%;
 
}

.contact-details .contact-info{
  padding: 0;
  font-size: 18px;
}

.hi, .bye{
  display: none;
}

.last-logo img{
  height: 40px;
  width: 150px;
  margin-left: 1px;
  margin-top: 10px;
}

.last-section{
  height: 60px;
}

.copyright{
  margin-top: 15px;
  font-size: 12px;
}

.top-nav-button{
  height: 50px;
  width: 50px;
  left: 380px;
  bottom: 10;
}

.top-nav-button i{
  font-size: 30px;
}
}

.temp-message{
  display: none;
}

@media (min-width: 768px) and (max-width: 1400px){
  .whole{
    display: none;
  }
  .temp-message{
    height: 60vh;
    width: 50vw;
    margin: 50px auto;
    display: block;
    font-size: 25px;
    font-weight: 550;
    padding: 50px;
    font-family: "DM Sans", sans-serif;
    color: rgb(41, 27, 27);
    background: linear-gradient(135deg, #ff6b6b, #7ed56f, #62b7d5, #ffb366, #8e44ad);
    background-size: 500% 500%;
    animation: colorfulGradientAnimation 10s ease infinite;
  }
  
  @keyframes colorfulGradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 0% 50%;
    }
    75% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

} 
